<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.stephen.study.htapitoproject.dao.BeadHousePersonDao">

    <!--插入-->
    <insert id="insert" parameterType="cn.stephen.study.htapitoproject.entity.BeadHousePerson">
        insert IGNORE into api_beadhouseperson(
        id,audit_state,
        name,gender,
        idcard_no,phone,
        self_care,household,
        buildup_area,is_poor,
        town,village_name,
        created_on,deleted,
        etl_time
        )values (
        #{id},#{auditState},
        HEX(AES_ENCRYPT(#{name}, 'e' )),
        #{gender},
        HEX(AES_ENCRYPT(#{idcardNo}, 'e' )),
        HEX(AES_ENCRYPT(#{phone}, 'e' )),
        #{selfCare},#{household},
        #{buildupArea},#{isPoor},
        #{town},#{villageName},
        #{createdOn},#{deleted},
        #{etlTime}
        )
    </insert>

    <insert id="insertpopul" parameterType="cn.stephen.study.htapitoproject.entity.CommunityPopul">
        insert IGNORE into api_communitypopul(
        id		,
		community_name		,
		neighbourhood_name		,
		building_no		,
		unit_no		,
		storey_no		,
		household_no		,
		name		,
		relation		,
		gender		,
		birthday		,
		idcard_no		,
		marriage		,
		nation		,
		registration_status		,
		phone		,
		address		,
		work_place		,
		political_orientation		,
		retiree		,
		note		,
		room_no		,
		town		,
		audit_state		,
		created_on		,
		deleted		,
		etl_time
        )values (
		#{id},
		#{CommunityName},
		#{NeighbourhoodName},
		#{BuildingNo},
		#{UnitNo},
		#{StoreyNo},
		#{HouseholdNo},
		HEX(AES_ENCRYPT(#{Name},'e')),
		#{Relation},
		#{Gender},
		#{Birthday},
		HEX(AES_ENCRYPT(#{IdCardNo},'e')),
		#{Marriage},
		#{Nation},
		#{RegistrationStatus},
		HEX(AES_ENCRYPT(#{Phone},'e')),
		#{Address},
		#{WorkPlace},
		#{PoliticalOrientation},
		#{Retiree},
		#{Note},
		#{RoomNo},
		#{Town},
		#{AuditState},
		#{createdOn},
		#{deleted},
		#{etlTime}
        )

    </insert>
</mapper>