<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.stephen.study.htapitoproject.dao.CaseDao">

    <insert id="insertCase" parameterType="cn.stephen.study.htapitoproject.entity.Case">
        insert
        IGNORE into ht_apiwgdb.api_case(
 			id		,
			sn		,
			ssz		,
			ssc		,
			lng		,
			lat		,
			wtly		,
			ajlx		,
			wtlx		,
			dlmc		,
			xlmc		,
			wtdj		,
			cldj		,
			sssq		,
			dzms		,
			sjbm		,
			wtms		,
			pyyj		,
			dsr		,
			state		,
			lxdh		,
			fssj		,
			pyr		,
			content		,
			beizhu		,
			create_by		,
			create_time		,
			update_by		,
			update_time		,
			del		,
			sswg		,
			slsj		,
			aj_type		,
			wgy		,
			jzsj		,
			dqsx		,
			is_duban		,
			is_cuiban		,
			cbyj		,
			is_dbread		,
			dbyj		,
			zhenname		,
			cunname		,
			wtlx_str		,
			dlmc_str		,
			xlmc_str		,
			name		,
			phone		,
			img		,
			img2,
            etl_time
        )values (
        #{id},
        #{sn},
        #{ssz},
        #{ssc},
        #{lng},
        #{lat},
        #{wtly},
        #{ajlx},
        #{wtlx},
        #{dlmc},
        #{xlmc},
        #{wtdj},
        #{cldj},
        #{sssq},
        #{dzms},
        #{sjbm},
        #{wtms},
        #{pyyj},
        #{dsr},
        #{state},
        #{lxdh},
        #{fssj},
        #{pyr},
        #{content},
        #{beizhu},
        #{create_by},
        #{create_time},
        #{update_by},
        #{update_time},
        #{del},
        #{sswg},
        #{slsj},
        #{aj_type},
        #{wgy},
        #{jzsj},
        #{dqsx},
        #{is_duban},
        #{is_cuiban},
        #{cbyj},
        #{is_dbread},
        #{dbyj},
        #{zhenname},
        #{cunname},
        #{wtlx_str},
        #{dlmc_str},
        #{xlmc_str},
        #{name},
        #{phone},
        #{img},
        #{img2},
        now()
        )
    </insert>

</mapper>