<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.stephen.study.htapitoproject.dao.FarmingAgricultureDao">
    <insert id="insertFarm"  parameterType="cn.stephen.study.htapitoproject.entity.Farm">
        insert  IGNORE into api_farm(
        id	,
		SN	,
		VillageName	,
		HostName	,
		Phone	,
		Images	,
		Sow	,
		Boar	,
		CommercialPig	,
		DairyCow	,
		Cattle	,
		Goat	,
		Sheep	,
		LayingHen	,
		Dorking	,
		LayingDuck	,
		MeatDuck	,
		Goose	,
		Other	,
		HasPool	,
		X	,
		Y	,
		Town	,
		Owner	,
		Area	,
		Purpose	,
		BuildDate	,
		HasRecord	,
		deleted	,
		etlTime
        )values (
         #{id},
         #{SN},
         #{VillageName},
         HEX(AES_ENCRYPT(#{HostName},'e' )),
         HEX(AES_ENCRYPT(#{Phone},'e' )),
         #{Images},
         #{Sow},
         #{Boar},
         #{CommercialPig},
         #{DairyCow},
         #{Cattle},
         #{Goat},
         #{Sheep},
         #{LayingHen},
         #{Dorking},
         #{LayingDuck},
         #{MeatDuck},
         #{Goose},
         #{Other},
         #{HasPool},
         #{X},
         #{Y},
         #{Town},
         #{Owner},
         #{Area},
         #{Purpose},
         #{BuildDate},
         #{HasRecord},
         #{deleted},
         #{etlTime}
        )
    </insert>

    <insert id="insertHousing"  parameterType="cn.stephen.study.htapitoproject.entity.Housing">
        insert  IGNORE into api_housing(
		id	,
		IdCardNo	,
		HouseholdNo	,
		LiveProperty	,
		BuildingProperty	,
		BuildingUsage	,
		UpLayerNum	,
		DownLayerNum	,
		NumPerLayer	,
		HourseStatus	,
		HourseUsage	,
		HourseCode	,
		Address	,
		Town	,
		VillageName	,
		deleted	,
		etlTime
        )values (
         #{id},
         HEX(AES_ENCRYPT(#{IdCardNo},'e' )),
         #{HouseholdNo},
         #{LiveProperty},
         #{BuildingProperty},
         #{BuildingUsage},
         #{UpLayerNum},
         #{DownLayerNum},
         #{NumPerLayer},
         #{HourseStatus},
         #{HourseUsage},
         #{HourseCode},
         #{Address},
         #{Town},
         #{VillageName},
         #{deleted},
         now()
        )
    </insert>

    <insert id="insertIdlecouryard" parameterType="cn.stephen.study.htapitoproject.entity.Idlecourtyard">
        insert  IGNORE into api_idlecourtyard(
		id	,
		SN	,
		VillageName	,
		Pos	,
		LandType	,
		Area	,
		Appendant	,
		UsageStatus	,
		Contractor	,
		IdCardNo	,
		ContractorPhone	,
		Principal	,
		PrincipalPhone	,
		Images	,
		X	,
		Y	,
		Town	,
		Location	,
		Purpose	,
		Materiel	,
		Lessor	,
		GridMember	,
		Phone	,
		etlTime
        )values (
         #{id},
         #{SN},
         #{VillageName},
         #{Pos},
         #{LandType},
         #{Area},
         #{Appendant},
         #{UsageStatus},
         #{Contractor},
         HEX(AES_ENCRYPT(#{IdCardNo},'e' )),
         HEX(AES_ENCRYPT(#{ContractorPhone},'e' )),
         HEX(AES_ENCRYPT(#{Principal},'e' )),
         HEX(AES_ENCRYPT(#{PrincipalPhone},'e' )),
         #{Images},
         #{X},
         #{Y},
         #{Town},
         #{Location},
         #{Purpose},
         #{Materiel},
         #{Lessor},
         #{GridMember},
         #{Phone},
         now()
        )
    </insert>
</mapper>